In [ ]:
print(5/3) #1.666
print(5//3) #1 Floor()
print (-(5//-3)) #upside-down-floor for "Ceil() function (alt)" OUTPUT: 2
z = complex(1, 4) #OUTPUT: 1+4j means in maths 1+4i Equation.
print(z)
print (5**3) #125 returns power
print(10.0.is_integer()) #TRUE
print(10.2.is_integer()) #FALSE
# print(10).bit_length() #4

x1 = float(2) #2.0
print(x1)

x2 = float(2.0) #2.0
print(x2)

x3 = float("44") #44.0  converted into float datatype
print(x3)

# x4 = float(complex(1, 2)) #error

1.6666666666666667
1
2
(1+4j)
125
True
False
2.0
2.0
44.0

In [ ]:
greeting = "Hello, World!" 
print(greeting)
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
print(numbers)
if 2 < 5: print("2 is less than 5")
if 2 > 5: print("2 is greater than 5")
if 2 == 5: print("2 is equal to 5") #no-output
if 2 != 5: print("2 is not equal to 5") #no-output

# bool("") False
bool("a") #True

'Hello there!'
# "Welcome to Real Python!"
# """Thanks for joining us!"""
# 'can\'t'
# "can't"

Hello, World!
[1, 2, 3, 4, 5, 6]
2 is less than 5
2 is not equal to 5

'Hello there!'

In [30]:
# concatenate string
"Happy" + " " + "pythoning!"

'Happy pythoning!'

In [31]:
len("Happy pythoning!")

16

In [33]:
" could be anything ".join(["Happy", "pythoning!"])

'Happy could be anything pythoning!'

In [37]:
name = "Mahad Haroon"
age = 24
"My name is {0} and I'm {1} years old".format(name, age)

"My name is Mahad Haroon and I'm 24 years old"

In [ ]:
welcome = "Welcome to Real Python!"
welcome[0] #W
welcome[11] #R
welcome[-1] #!

welcome[0:7] #Welcome
welcome[11:22]

'Real Python'

In [ ]:
# Literal syntax (ASCII only)
b"Hello"

# From an iterable of integers (0 to 255)
bytes([72, 101, 108, 108, 111]) # b'Hello'

# By encoding a string
"cafÃ©".encode("utf-8")

b'caf\xc3\xa9'

In [ ]:
packet = b"ABCDEF"
len(packet) #6
packet[0] #65 

packet[1:4]# b'BCD'

b'BCD'

In [ ]:
# -------------- LISTS --------------
# Define an empty list
empty = []
empty

# Define a list of numbers
numbers = [1, 2, 3, 100]
# Modify the list
numbers[3] = 200

# Define a list of strings
["batman", "superman", "spiderman"]

#different data types
["Hello World", [4, 5, 6], False]

['Hello World', [4, 5, 6], False]

In [51]:
numbers = [1, 2, 3, 4]
numbers[0] #1
numbers[1] #2

superheroes = ["batman", "superman", "spiderman"]
superheroes[-1] #spiderman
superheroes[-2] #superman

'superman'

In [52]:
numbers = [1, 2, 3, 4]
new_list = numbers[0:3]
new_list

[1, 2, 3]

In [55]:
mixed_types = ["Hello World", [4, 5, 6], False]
mixed_types[0][6] #W
mixed_types[1][2] #1st element in list in (nested)list with index 2.

6

In [ ]:
fruits = ["apples", "grapes", "oranges"]
veggies = ["corn", "kale", "spinach"]

fruits.append("bananas") #add at the end
fruits + veggies 

# fruits.sort()
# fruits >>> ['apples', 'bananas', 'grapes', 'oranges']

['apples', 'grapes', 'oranges', 'bananas', 'corn', 'kale', 'spinach']

In [ ]:
numbers = [1, 2, 3, 4]
numbers.pop(2) #remove the number at index 2

numbers

[1, 2, 4]

In [ ]:
# ----------- TUPLES ------------ immutable (non-changable)
employee = ("Jane", "Doe", 31, "Software Developer")
employee[0]

'Jane'

In [ ]:
employee = ("Jane", "Doe", 31, "Software Developer")
employee[1:3]

('Doe', 31)

In [67]:
first_tuple = (1, 2)
second_tuple = (3, 4)
third_tuple = first_tuple + second_tuple
third_tuple

(1, 2, 3, 4)

In [69]:
numbers = (1, 2, 3)
list(numbers)

[1, 2, 3]

In [71]:
letters = ("a", "b", "b", "c", "a")
letters.count("b")
# letters.count("c")
# letters.count("d")

2

In [ ]:
# --------- DICTIONARY ---------
john = {
    "name": "John Doe",
    "age": 25,
    "job": "Python Developer"
    }
john

# jane = dict(name="Jane Doe", age=24, job="Web Developer")
# jane

# Retrieve all the keys
john.keys()
# Retrieve all the values
john.values()
# Retrieve all the key-value: pairs
john.items()

dict_items([('name', 'John Doe'), ('age', 25), ('job', 'Python Developer')])

In [82]:
# ------- SETS ------- #unordered and mutable collections of -> unique and hashable objects.
{"John", "Jane", "Linda"}
set(["David", "Mark", "Marie"])

{'David', 'Marie', 'Mark'}

In [84]:
primes = {2, 3, 5, 7}
primes.add(11)
primes

primes.remove(2)
primes

{3, 5, 7, 11}

In [87]:
age = 21
if age >= 18:
    print("You're a legal adult")
# -------
age = 16
if age >= 18:
    print("You're a legal adult")
else:
    print("You're NOT an adult")
# ----
age = 18
if age > 18:
    print("You're over 18 years old")
elif age == 18:
    print("You're exactly 18 years old")

You're a legal adult
You're NOT an adult
You're exactly 18 years old

In [88]:
for i in (1, 2, 3, 4, 5):
    print(i)
else:
    print("We reached the end, loop exited at 5th iteration")

1
2
3
4
5
We reached the end, loop exited at 5th iteration

In [89]:
for i in (1, 2, 3, 4, 5):
    if i == 3:
        print("Number found:", i)
        break
else:
    print("Number not found")

Number found: 3

In [93]:
count = 1
while count < 5:
    print(count)
    count += 1
else:
    print("While Loop tested, with count value: 5")

1
2
3
4
While Loop tested, with count value: 5

In [94]:
def khushamdeed(naam): # 'naam' parameter
    print("Welcome " + naam)

khushamdeed("Ali")    # "Ali" argument 
khushamdeed("Ahmed")

Welcome Ali
Welcome Ahmed

In [95]:
def addition(a,b):
    return a+b 
    
print(addition(5,10))

15

In [96]:
class Car:
    # Constructor: Jab car banegi, ye values lazmi hongi
    def __init__(self, brand, color):
        self.brand = brand  
        self.color = color 

    # Method:
    def start_engine(self):
        print(f"{self.brand} engine started!")

# Objects
car1 = Car("Toyota", "White")
car2 = Car("Suzuki", "Red")

# Object ki values access karna
print(car1.brand) 
car2.start_engine()

Toyota
Suzuki engine started!

In [ ]:
# float(2) #2.0
float("44") #44.0  converted into float datatype
# float(complex(1, 2)) #error

44.0